body {
    color: #00FF41;
    background-color: #0D0208;
    font-family: 'OCR A Std', monospace;
}

.header {
    text-align: center;
    font-size: x-large;
    font-family: 'OCR A Std', monospace;
    background-color: #0D0208;
    padding: 24px;
    
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 50px 15%;
}

button:hover {
    color: #003B00;
    transform: scale(1.1);
    box-shadow: 0 0 100px 1px #003B00;
}

img {
    width: 150px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    padding: 50px 25%;
}

.message {
    align-self: center;
}

.scores{
    display: flex;
    justify-content: space-around;
    padding: 20px 25%;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #00FF41;
}

.name {
    padding: 1em;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: #003B00;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-title {
    font-size: large;
}

.restartButton {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #0D0208;
    color: #00FF41;
}

.restartButton:hover {
    transform: scale(1);

}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.overlay.active {
    display: block;
}

